* {
    margin: 0;
    padding: 0;
}

.box {
    width: 243px;
    height: 432px;
    border: 1px solid gray;
    margin: 100px auto;
    position: relative;
}

img {
    width: 243px;
    height: 432px;
}

ul {
    list-style-type: none;
}

.imglist ul li {
    width: 243px;
    height: 432px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.imglist ul .current{
    display: block;
}

.btn span {
    width: 55px;
    height: 55px;
    
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    display:block;
}

.btn .leftbtn {
    left: 10px;
    background: url("../img/left.png");
}

.btn .rightbtn {
    right: 10px;
    background: url("../img/right.png");
}
.circle{
    position:absolute;
    bottom:10px;
    right:10px;
}
.circle ul li{
    width:10px;
    height:10px;
    background:rgba(0,0,0,0.5);
    float:left;
    margin-right:5px;
    border-radius:50%;
}
.circle ul .current{
    background: rgba(255,255,255,1);
}